h{
    color : rgb(17, 131, 125);
    font-size = 10.9em;
  }
 head{
   background-color: brown;
   border-image-width: 12;
   background-attachment: fixed;
   }
   

footer{
    background-color: rgb(111, 146, 144) ;
    color : black;
    opacity : 90%;
}